<!DOCTYPE html>

<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Manage Users</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
</head>
  <body>

    <div class="container-fluid text-center" >
      <div><h2>Manage Users</h2></div>
      <div class="m-2">
        <a class="h3" th:href="@{/usersWeb/new}">Add New User</a>
      </div>

      <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
      </div>

      <div>
        <table class="table table-bordered">
          <thead class="table-dark">
            <tr>
              <th>User ID</th>
              <th>Username</th>
              <th>Email</th>
              <th>Role</th>
              <th>Is Active</th>
            </tr>
          </thead>
          <tbody>
            <th:block th:each="user : ${listUsers}">
              <tr>
                <td>[[${user.id}]]</td>
                <td>[[${user.username}]]</td>
                <td>[[${user.email}]]</td>
                <td>[[${user.role}]]</td>
                <td>[[${user.isActive}]]</td>
                <td>
                  <a class="h4 mr-3">Edit</a>
                  <a class="h4">Delete</a>
                </td>
              </tr>
            </th:block>
          </tbody>
        </table>
      </div>
    </div>
  </body>

</html>